/*/////////////////////////////////////
// Card
////////////////////////////////////*/
.card {
  box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.05);
  margin: 15px;
}

.card-header {
  background: #a0dacc;
  color: white;
  padding: 15px;
}

/*/////////////////////////////////////
// Project
////////////////////////////////////*/
.project {
  padding: 15px;
  background: #f9f9f9;
  margin: 5px;
  transition: all 100ms ease-out;
}

.project.sv-helper {
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.project-placeholder {
  padding: 50px 15px;
  background: #e7fdf8;
  margin: 4px;
  border: dashed 1px #a0dacc;
  color: #a0dacc;
}

/*/////////////////////////////////////
// Flex
////////////////////////////////////*/
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex {
  flex: 1;
}